body {
	background-color: lightgrey;
}
#title {
	text-align: center;
}
#img-div {
	background-color: white;
}
#img-div > img {
	height: 50vh;
	width: 50%;
	margin: 0 auto;
	display: block;
}
#img-caption {
	text-align: center;
}
#tribute-info {
	width: 50%;
	margin: auto;
}
#tribute-info h3 {
	text-align: center;
}
.my-list > li {
	text-align: center;
	display: flex;
	flex-direction: row;
}
blockquote {
	align-content: center;
	width: 50%;
}
#myFooter {
	text-align: center;
	font-weight: bold;
}
@media screen and (max-width: 1000x){
    #img-div>img {
        width: 100%
        height: auto;
    }
}